.switch_container {
    height: 35px;
    position: relative;
  }
  
  .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 25px;
      cursor: pointer;
      margin:5px;
      -webkit-tap-highlight-color: transparent;
    }
    
    .slider {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 35px;
      background-color: #FFEBEE;
    }
    
    .spot {
      height: 35px;
      width: 35px;
      left: 0;
      top: -5px;
      background-color: red;
      -webkit-transition: .4s;
      transition: .4s;
      position: relative;
      vertical-align: middle;
      box-shadow: -1px 0 2px rgba(0,0,0,0.5);
      border-radius: 50%;
      z-index: 2;
    }
  
    .vertically-centered {
      line-height: inherit;
    }
    
    .checked .slider {
      background-color: green;
      border-radius: 25px;
    }
    
    .checked .spot {
      -webkit-transform: translateX(35px);
      -ms-transform: translateX(35px);
      transform: translateX(35px);
    }